:root {
  --color-txt-primary: #212121;
  --color-txt-secondary: #757575;
  --color-txt-accent-primary: #2196f3;
  --color-txt-accent-secondary: #ffffff;
  --color-txt-contacts: rgba(255, 255, 255, 0.6);
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #2f303a;
}

body {
  color: var(--color-txt-primary);
  background-color: var(--color-txt-accent-secondary);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
}

.logo {
  color: var(--color-txt-accent-primary);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.studio-dark {
  color: var(--color-txt-primary);
}

.studio-white {
  color: var(--color-txt-accent-secondary);
}

.nav-list-item > a {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contHead-list-item > a {
  color: var(--color-txt-secondary);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list-item > a:hover,
.nav-list-item > a:focus,
.contHead-list-item > a:hover,
.contHead-list-item > a:focus {
  color: var(--color-txt-accent-primary);
}

.hero {
  background-color: var(--color-bg-secondary);
}

.hero > h1 {
  color: var(--color-bg-primary);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > button {
  color: var(--color-bg-primary);
  background-color: var(--color-txt-accent-primary);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero > button:hover,
.hero > button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.adv-list-item > h3 {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.adv-list-item > p {
  color: var(--color-txt-secondary);

  line-height: 1.71;
}

.weDo-header,
.ourTeam-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.ourTeam {
  background-color: #f5f4fa;
}

.ourTeam-list-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.ourTeam-list-item > p {
  color: var(--color-txt-secondary);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

footer {
  background-color: var(--color-bg-secondary);
}

.foo-list-item > a {
  color: var(--color-txt-contacts);

  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.foo-list-item > a:hover,
.foo-list-item > a:focus {
  color: var(--color-txt-accent-primary);
}

.foo-list-item > .foo-address {
  color: var(--color-txt-accent-secondary);
}

/*portfolio page*/

.portfolio-btn-list-item > button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-btn-list-item > button:hover,
.portfolio-btn-list-item > button:focus {
  color: var(--color-bg-primary);
  background-color: var(--color-txt-accent-primary);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-works-list-item > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-works-list-item > p {
  color: var(--color-txt-secondary);

  font-size: 16px;
  line-height: 1.88;
}
